body{
    margin: 0px;
}
nav ul{
    background-color: dimgray;
    margin: 0px;
    display: flex;
    
}
nav ul li{
    position: relative;
    list-style-type: none;
    padding: 18px 20px 20px 5px;
    border: 2px solid yellow;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: larger;
}

nav ul li ul{
    display: none;
    position: absolute;
    /* display: block; */
    top: 100%;
    left: 0;
    padding: 0%;
    width: fit-content;
    
    
}

nav ul li:hover ul{
    display: block;
}
nav ul li ul li{
   padding: 10px 15px;
}